/* ====== Fonts ====== */
@font-face {
  font-family: "MetaTitle";
  src: url("./assets/fonts/Favorite Notification DEMO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MetaSubtitle";
  src: url("./assets/fonts/Louis George Cafe Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ====== Reset base (quita "corrido") ====== */
* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;     /* evita scroll horizontal/corrimientos */
  background: #ffffff;    /* modo claro */
  color: #000000;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* links */
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  opacity: 0.85;
}

button{
  font: inherit;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
}
